In [145]:
import pandas as pd

routeIdSel = 26

In [148]:
routes = pd.read_table(r'routes.txt')
routesdf = pd.DataFrame(routes)
print(routesdf)


# routeIdSel = 7735
routeIdSel = 7650


routeSel = routesdf[routesdf['route_id'] == routeIdSel]
print(routeSel)

     route_id route_short_name                      route_long_name  \
0        7634                1   Marietta Blvd/Joseph E Lowery Blvd
1        7635                2   Ponce de Leon Avenue / Druid Hills
2        7636                3  Martin Luther King Jr Dr/Auburn Ave
3        7637                4                      Moreland Avenue
4        7638                5        Piedmont Road / Sandy Springs
..        ...              ...                                  ...
110      8766             BLUE                  BLUE-East/West Line
111      8746             GOLD        GOLD-Northeast Doraville Line
112      8748            GREEN             GREEN-Proctor Creek Line
113      8747              RED   RED-North South North Springs Line
114     11843           ATL SC                    Atlanta Streetcar

     route_desc  route_type  route_url route_color  route_text_color
0           NaN           3        NaN      819FF7               NaN
1           NaN           3        NaN      819FF7               NaN
2           NaN           3        NaN      819FF7               NaN
3           NaN           3        NaN      819FF7               NaN
4           NaN           3        NaN      819FF7               NaN
..          ...         ...        ...         ...               ...
110         NaN           1        NaN      0101DF               NaN
111         NaN           1        NaN      FFBF00               NaN
112         NaN           1        NaN      04B404               NaN
113         NaN           1        NaN      FF0000               NaN
114         NaN           1        NaN      FF0000               NaN

[115 rows x 8 columns]
    route_id route_short_name                    route_long_name  route_desc  \
15      7650               26  Marietta Street / Perry Boulevard         NaN

    route_type  route_url route_color  route_text_color
15           3        NaN      819FF7               NaN

In [153]:
trips = pd.read_table(r'trips.txt')
tripsdf = pd.DataFrame(trips)
tripsdf

# routeIdSel = 7735

tripSel = tripsdf[tripsdf['route_id'] == routeIdSel]
tripSel = tripSel[tripSel['direction_id'] == 0]
print(tripSel)
tripSel.to_csv(r'processed/26tripSel_dir_0.csv')

rowSel = tripSel[229:230]
print(rowSel)


tripId =  rowSel["trip_id"]
print(tripId)



# print(tripId.dtypes)
# print(routeIdSel.dtypes)


# rowFirst = tripId


# rowFirst = trips.irow(0)

# tripId = tripSel["trip_id"]
# tripId

      route_id  service_id  trip_id trip_headsign  direction_id  block_id  \
3401      7650           3  6707595           NaN             0    360863
3402      7650           3  6707682           NaN             0    359865
3403      7650           3  6733003           NaN             0    359865
3405      7650           3  6707594           NaN             0    360863
3406      7650           3  6722021           NaN             0    359865
...        ...         ...      ...           ...           ...       ...
3616      7650           5  6697215           NaN             0    360864
3618      7650           5  6700997           NaN             0    359868
3620      7650           5  6706726           NaN             0    360869
3621      7650           5  6706642           NaN             0    360864
3622      7650           5  6730957           NaN             0    361086

      shape_id
3401    109717
3402    109729
3403    109729
3405    109717
3406    109729
...        ...
3616    109717
3618    109729
3620    109729
3621    109717
3622    109717

[113 rows x 7 columns]
Empty DataFrame
Columns: [route_id, service_id, trip_id, trip_headsign, direction_id, block_id, shape_id]
Index: []
Series([], Name: trip_id, dtype: int64)

In [143]:
stop_times = pd.read_table(r'stop_times.txt')
stop_time_df = pd.DataFrame(stop_times)
print(stop_time_df)

# stop_time_allnearby = stop_time_df[ (stop_time_df['stop_sequence'] >= 15) & (stop_time_df['stop_sequence'] <= 18) ]
# print(stop_time_allnearby)
# stop_time_allnearby.to_csv(r'processed/stop_time_allnearby.csv')


stop_time_sel = stop_time_df[stop_time_df['trip_id'] == 6707595]
print(stop_time_sel)
stop_time_sel.to_csv(r'processed/26trip_6707595_dir_1.csv')

stop_time_nearby = stop_time_sel[ (stop_time_sel['stop_sequence'] >= 15) & (stop_time_sel['stop_sequence'] <= 18) ]
print(stop_time_nearby)
stop_time_nearby.to_csv(r'processed/26trip_6707595_dir_1_nearby.csv')


# stop_time_sel = stop_time_df[stop_time_df["trip_id"] == tripId]
# print(stop_time_sel)

         trip_id arrival_time departure_time  stop_id  stop_sequence
0        6694095     19:00:00       19:00:00   903391              1
1        6694095     19:02:04       19:02:04   900881              2
2        6694095     19:02:53       19:02:53   900835              3
3        6694095     19:03:38       19:03:38   903387              4
4        6694095     19:04:08       19:04:08   900836              5
...          ...          ...            ...      ...            ...
1048570  6730588     14:21:55       14:21:55   900203             36
1048571  6730588     14:22:11       14:22:11   900205             37
1048572  6730588     14:22:21       14:22:21   900206             38
1048573  6730588     14:23:01       14:23:01   900196             39
1048574  6730588     14:23:32       14:23:32   900171             40

[1048575 rows x 5 columns]
         trip_id arrival_time departure_time  stop_id  stop_sequence
14       6694095     19:09:11       19:09:11   213637             15
15       6694095     19:09:27       19:09:27   901028             16
16       6694095     19:09:47       19:09:47   903271             17
17       6694095     19:10:50       19:10:50   903423             18
71       6694096      5:50:14        5:50:14   210031             15
...          ...          ...            ...      ...            ...
1048503  6730587      8:34:38        8:34:38   902619             18
1048549  6730588     14:08:00       14:08:00   901370             15
1048550  6730588     14:09:15       14:09:15   900829             16
1048551  6730588     14:09:56       14:09:56   900828             17
1048552  6730588     14:10:27       14:10:27   903317             18

[83368 rows x 5 columns]
         trip_id arrival_time departure_time  stop_id  stop_sequence
1016777  6729676     16:54:00       16:54:00   213073              1
1016778  6729676     16:54:38       16:54:38   213086              2
1016779  6729676     16:57:24       16:57:24   210361              3
1016780  6729676     16:58:50       16:58:50   210563              4
1016781  6729676     16:59:20       16:59:20   211916              5
1016782  6729676     16:59:55       16:59:55   210380              6
1016783  6729676     17:00:49       17:00:49   902610              7
1016784  6729676     17:02:35       17:02:35   213081              8
1016785  6729676     17:04:00       17:04:00   213072              9
1016786  6729676     17:05:53       17:05:53   213078             10
1016787  6729676     17:07:29       17:07:29   213112             11
1016788  6729676     17:08:07       17:08:07   211458             12
1016789  6729676     17:08:37       17:08:37   213075             13
1016790  6729676     17:10:09       17:10:09   213070             14
1016791  6729676     17:10:46       17:10:46   900908             15
1016792  6729676     17:13:00       17:13:00   901262             16
1016793  6729676     17:13:55       17:13:55   101156             17
1016794  6729676     17:14:48       17:14:48   101162             18
1016795  6729676     17:15:18       17:15:18   101165             19
1016796  6729676     17:15:43       17:15:43   101135             20
1016797  6729676     17:16:24       17:16:24   101137             21
1016798  6729676     17:16:59       17:16:59   210570             22
1016799  6729676     17:17:39       17:17:39   210571             23
1016800  6729676     17:18:35       17:18:35   213084             24
1016801  6729676     17:19:09       17:19:09   213085             25
1016802  6729676     17:20:00       17:20:00   114900             26
         trip_id arrival_time departure_time  stop_id  stop_sequence
1016791  6729676     17:10:46       17:10:46   900908             15
1016792  6729676     17:13:00       17:13:00   901262             16
1016793  6729676     17:13:55       17:13:55   101156             17
1016794  6729676     17:14:48       17:14:48   101162             18

In [109]:
stops = pd.read_table(r'stops.txt')
stops


stops_sel = stops[stops['stop_id'] == 213073]
print(stops_sel)

stop_name = stops_sel["stop_name"]
print(stop_name)

      stop_id  stop_code                          stop_name   stop_lat  \
4745   213073     213073  SPRING GROVE AVE @ HOWELL MILL RD  33.803269

       stop_lon
4745 -84.415336
4745    SPRING GROVE AVE @ HOWELL MILL RD
Name: stop_name, dtype: object